@import './landing-mobile-style.css';
@import './navigation-mobile-style.css';
@import './section-mobile-style.css';
@import './character-preview-mobile-style.css';

body {
  background-color: rgb(107, 107, 107);
  text-align: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.character-creation-view {
  background-color: rgb(126, 0, 0);
}

.character-creation-view h1 {
  color: white;
  margin-top: 0px;
  padding-top: 3%;
}