@import './landing-mobile-style.css';
@import './navigation-mobile-style.css';
@import './section-mobile-style.css';
@import './character-preview-mobile-style.css';

body {
  background-color: rgb(126, 0, 0);
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, .App, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.character-creation-view {
  position: relative;
  background-color: rgb(126, 0, 0);
  width: 100%;
  height: 100%;
}

.character-creation-view h1 {
  color: white;
  margin-top: 0px;
  padding-top: 3%;
}