.nav-bar {
  width: 100%;
  margin-bottom: -5%;
}

.nav-link {
  text-decoration: none;
  color: black;
}

.nav-btn {
  background-color: rgb(73, 73, 73);
  border: 1px solid rgb(73, 73, 73);
  border-radius: 15px 15px 0px 0px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  width: 24%;
  height: 50px;
}

.nav-btn:focus {
  outline: 0;
}

.active-tab {
  background-color: white;
  border: 1px solid white;
  color: black;
}

.complete {
  color: green;
}

.nav-link:nth-child(even) {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.character-preview-btn {
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  margin-bottom: 4%;
  width: 150px;
  height: 35px;
}

.character-preview-btn:focus {
  background-color: rgb(196, 196, 196);
}

.indicator {
  display: block;
  border: 1px solid black;
  border-radius: 10px 10px 10px 10px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
  margin-bottom: 0px;
  width: 50%;
  height: 2px;
}

.indicator-complete {
  display: block;
  border: 1px solid black;
  border-radius: 10px 10px 10px 10px;
  background-color: rgb(16, 197, 0);
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
  margin-bottom: 0px;
  width: 50%;
  height: 2px;
}