body {
  background-color: rgb(107, 107, 107);
  text-align: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* .navigation-bar {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 3%;
}

.nav-btn {
  background-color: white;
  border: 1px solid black;
  height: 35px;
}

.nav-btn:hover {
  background-color: rgb(148, 148, 148);
  cursor: pointer;
} 
.stats-container {
  overflow: hidden;
  min-height: 200px;
}

.stat-container {
  background-color: white;
  border-radius: 5px;
  width: 85%;
  min-height: 275px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5%;
}

.stat-name {
  float: left;
  width: 35%;
}

.stat-skills {
  float: left;
  width: 65%;
}

.skill {
  text-align: left;
  margin: 5%;
}

.skill-input {
  float: right;
  width: 25%;
}
*/


.landing-section div {
  text-align: left;
  margin-right: auto;
  margin-left: auto;
  width: 75%;
}

.nav-link {
  text-decoration: none;
  color: black;
}

.nav-btn {
  background-color: white;
  border: 1px solid white;
  width: 24%;
}

.nav-btn:focus {
  background-color: rgb(196, 196, 196);
}

.nav-link:nth-child(even) {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.landing-section h3 {
  background-color: rgb(63, 63, 63);
  color: white;
  padding-top: 1%;
  padding-bottom: 1%;
}

.landing-header {
  background-color: rgb(63, 63, 63);
  color: rgb(255, 255, 255);
  margin: 4%;
  padding: 2%;
}

.character-creation-btn {
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 20px;
  width: 200px;
  height: 35px;
}

.character-creation-btn:hover {
  background-color: rgb(182, 182, 182);
  border: 1px solid rgb(182, 182, 182);
  cursor: pointer;
}

.landing-header {
  margin-bottom: 4%;
}

.landing-section {
  background-color: rgb(226, 226, 226);
  padding: 4%;
}

.landing-section:nth-child(even) {
  background-color: rgb(194, 194, 194);
}

.step-section {
  background-color: rgb(145, 145, 145);
  padding-bottom: 3%;
}

.race-selection {
  text-align-last: center;
  font-size: 20px;
  width: 80%;
  height: 30px;
}

.alignment-selection {
  text-align-last: center;
  font-size: 20px;
  width: 80%;
  height: 30px;
}

.snippet {
  background-color: white;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2%;
  padding: 2%;
  width: 80%;
}

.snippet h3 {
  background-color: rgb(194, 194, 194);
  padding-top: 1%;
  padding-bottom: 1%;
}

.modifiers-list {
  text-align: center;
}

.extra-choice-snippet {
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}

.extra-choice-snippet h3 {
  background-color: white;
}

.class-selection {
  text-align-last: center;
  font-size: 20px;
  width: 80%;
  height: 30px;
}

.background-selection {
  text-align-last: center;
  font-size: 20px;
  width: 80%;
  height: 30px;
}

.commit-btn {
  font-size: 24px;
  background-color: rgb(196, 196, 196);
  border-radius: 4px;
  border: 1px solid black;
  margin-top: 4%;
  width: 65%;
  height: 40px;
}

.commit-btn:hover {
  cursor: pointer;
  background-color: rgb(224, 224, 224);
}

.list {
  text-align: left;
}